<!DOCTYPE html>
<head>
	<title>
		MM Coin Changer App
	</title>

	<link rel="stylesheet" href="css/style.css">
</head>
<body>
	
		<header>
				<ul>
					<li class = "textcolor"><a href = "/">Home</a></li>


					<li class = "textcolor"><a href = "/">Contact</a></li>

					<li class = "textcolor"><a href = "/">About Us</a></li>
						
					<li class = "textcolor"><a href = "/">Fun Stuff</a></li>>
						
					<li class = "textcolor"><a href = "/">Portfolio</a></li>

				</ul>
		</header>

		<%=yield%>
</body>